#logo-image {
    height: 10vw;
}

#top-menu-area {
    height: 30%;
    background-color: pink;
}

#results-area {
    height: 30%;
    background-color: azure;
}

#pizza-chart {
    height: 400px;
}